<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Bienvenido ADMINISTRADOR</h1>

  <h1>ESTOS SON LOS USUARIOS</h1>

  <h2>Nuevo usuario</h2>
  {% if nuevo %}
    <p class="msj ok">Usuario creado con éxito.</p>
  {% endif %}
  <form action="/nuevo_usuario" method="post">
    <input type="text" name="usuario" id="usuario" placeholder="Nombre" required>
    <input type="text" name="contrasenia" id="contrasenia" placeholder="Contraseña" required>
    <input type="submit" value="Crear usuario">
  </form>

  <h2>Busca usuarios</h2>
  <form action="/buscar_usuarios" method="post">
    <input type="text" name="usuario" id="usuario" placeholder="usuario">
    <input type="submit" value="Buscar usuario">
  </form>
  
  <h2>Usuarios encontrados:</h2>

  {% if borrado %}
  <p class="msj ok">Contacto borrado con éxito.</p>
  {% elif modificado %}
  <p class="msj ok">Contacto modificado con éxito.</p>
  {% elif error %}
  <p class="msj error">ERROR.</p>
  {% endif %}

{% if usuarios %}
    {% for usuario in usuarios %}
      <form action="/editarborrar_usuarios" method="post">
        <input type="text" name="usuario" id="usuario" placeholder="Usuario" value="{{usuario['usuario']}}">
        <input type="text" name="contrasenia" id="contrasenia" placeholder="contrasenia"  value="{{usuario['contrasenia']}}">
        <input type="hidden" name="id" id="id" value="{{usuario['ID']}}">
        <input type="submit" name="action" value="Editar">
        <input type="submit" name="action" value="Borrar">
     </form>
    {% endfor %}
  {% endif %}

    




  <form action="/logout" method="post">
    <input type="submit" value="Cerrar Sesión">
  </form>
  
</body>
</html>