<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Hola desde Flask</title>
</head>

<body>
  <h1>{{ titulo }}</h1>
  <h2>Nuevo contacto</h2>
  {% if nuevo %}
  <p class="msj ok">Usuario creado con éxito.</p>
  {% endif %}
  <form action="/nuevo" method="post">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
    <input type="email" name="mail" id="mail" placeholder="e-mail">
    <input type="number" name="telefono" id="telefono" placeholder="Teléfono">
    <input type="text" name="ig" id="ig" placeholder="Instagram">
    <input type="submit" value="Crear contacto">
  </form>
  <ul>
    {% for c in colores %}
    <li>{{ c }}</li>
    {% endfor %}
  </ul>
</body>

</html>