<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Bienvenido {{ username }}</h1>

  <h1>{{ titulo }}</h1>


  <h2>Nuevo contacto</h2>
  {% if nuevo %}
  <p class="msj ok">Usuario creado con éxito.</p>
  {% endif %}
  <form action="/nuevo" method="post">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
    <input type="email" name="mail" id="mail" placeholder="e-mail" required>
    <input type="number" name="telefono" id="telefono" placeholder="Teléfono" required>
    <input type="text" name="ig" id="ig" placeholder="Instagram" required>
    <input type="submit" value="Crear contacto">
  </form>

  <h2>Busca tus contactos</h2>
  <form action="/buscar" method="post">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
    <input type="submit" value="Buscar contacto">
  </form>

  {% if borrado %}
  <p class="msj ok">Contacto borrado con éxito.</p>
  {% elif modificado %}
  <p class="msj ok">Contacto modificado con éxito.</p>
  {% elif error %}
  <p class="msj error">ERROR.</p>
  {% endif %}
  {% if contactos %}
  {% for c in contactos %}
  <form action="/editarborrar" method="post">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" value="{{c['nombre']}}">
    <input type="email" name="mail" id="mail" placeholder="e-mail"  value="{{c['mail']}}">
    <input type="number" name="telefono" id="telefono" placeholder="Teléfono"  value="{{c['telefono']}}">
    <input type="text" name="ig" id="ig" placeholder="Instagram"  value="{{c['ig']}}" >
    <input type="hidden" name="id" value="{{c['ID']}}">
    <input type="submit" name="action" value="Editar">
    <input type="submit" name="action" value="Borrar">
  </form>
  {% endfor %}
  {% endif %}


  <form action="/logout" method="post">
    <input type="submit" value="Cerrar Sesión">
  </form>
</body>

</html>